services:
  nginx:
    image: tricolorsimba/my_nginx:latest
    container_name: "{{ nginx_container_name }}"
    ports:
      - "{{ nginx_host_port }}:{{ nginx_container_port }}"
      - "{{ nginx_host_port_https }}:{{ nginx_container_port_https }}"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /opt/webserver/nginx/ssl:/etc/nginx/ssl
    restart: unless-stopped
    depends_on:
      - php83
    networks:
      - "{{ webserver_network }}"

  php83:
    image: tricolorsimba/php_8.3-fpm:latest

    networks:
      - "{{ webserver_network }}"

networks:
  {{ webserver_network }}:
    external: true